# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/
env/
*.pyc
.env

# ==========================================
# Jupyter
# ==========================================
.ipynb_checkpoints/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# Operating System
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Environment / Secrets
# ==========================================
.env
.env.*
!.env.example

# ==========================================
# Python Testing / Coverage
# ==========================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Build / Package Files
# ==========================================
build/
dist/
*.egg-info/

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.log

# ==========================================
# Raw Data
# ==========================================
data/raw/**
data/interim/*
data/processed/*
!data/interim/.gitkeep
!data/processed/.gitkeep

# ==========================================
# SAS transport files
# ==========================================
*.XPT
*.xpt

# ==========================================
# Jupyter Notebooks
# ==========================================
reports/03_brfss_2023_first_look_optimised.pdf